.search-results {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 90%;
    padding: 0.5rem 0;
    margin: 0;
    overflow-y: auto;
    background-color: #302d36;
    background-clip: padding-box;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    list-style: none;
    color: white;
    max-height: 500px;
}

.search-results-list {
    padding-left: 0;
    margin-bottom: .25rem;
    list-style: none;
}

.search-result {
    display: block;
    padding-top: .25rem;
    padding-right: .75rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
}

.search-result-highlight {
    font-weight: bold;
}

.search-result:hover,
.search-result:active {
    background-color: #201f23;
}

.search-result-title {
    display: inline-block;
    width: 40%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
    vertical-align: top;
}

.search-result-doc {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.search-result-doc .search-result-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    /* color: #2c84fa; */
    flex-shrink: 0;
}

.search-result-doc .search-result-doc-title {
    overflow: auto;
}

.search-result-rel-url {
    display: block;
    margin-left: 1.5rem;
    overflow: hidden;
    color: #959396;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 9px;
}

.search-result-previews {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    margin-left: .5rem;
    color: #959396;
    word-wrap: break-word;
    border-left: 1px solid;
    border-left-color: #44434d;
    display: inline-block;
    width: 55%;
    padding-left: .5rem;
    margin-left: 0;
    vertical-align: top;
    font-size: 12px !important;
}

.search-menu.show,
.search-results.show,
.search-results.search-active {
    display: block;
}

.search-result-preview+.search-result-preview {
    margin-top: .25rem;
}

.search-result-section {
    margin-left: 1.5rem;
    word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
    opacity: 0.5;
    font-size: 12px !important;
}